/testdata
/testdata_clz.hex
/testdata_ctz.hex
/testdata_pcnt.hex
/testdata_grev.hex
/testdata_gzip.hex
/testdata_bfxp.hex
/testdata_bfxpc.hex
/testdata_bdep.hex
/testdata_bext.hex
/testdata_clmul.hex
/testdata_bmat.hex
/tinygrev_tb
/tinygrev_tb.vcd
/tinygzip_tb
/tinygzip_tb.vcd
/simplegrev_tb
/simplegrev_tb.vcd
/simplegzip_tb
/simplegzip_tb.vcd
/simplebitcnt_tb
/simplebitcnt_tb.vcd
/simplebfxp_tb
/simplebfxp_tb.vcd
/simplebextdep_tb
/simplebextdep_tb.vcd
/smartbextdep_tb
/smartbextdep_tb.vcd
/simpleclmul_tb
/simpleclmul_tb.vcd
/simplebmat_tb
/simplebmat_tb.vcd
/rocketmuldiv_check_bmc/
/rocketmuldiv_check_cover/
/stats_*_asic.txt
/stats_*_fpga.txt
/stats.ysok
/stats.aux
/stats.log
/stats.nav
/stats.out
/stats.pdf
/stats.snm
/stats.toc
/stats.tex
