<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
                  <a class="navbar-item" href="https://wiki.riscv.org">
                    <img src="{{{uiRootPath}}}/img/riscv-logo.png" height="40px" alt="RISC-V" />
		  </a>
                  <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">Documentation</a>
    </div>

<div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">RISC-V Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Specifications</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
